@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
html {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #355829;
  min-height: 100vh;
}

a {
  color: #355829;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #ffd700;
}
a:active {
  color: #ceb31e;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

label,
button,
select,
input[type="checkbox"] {
  cursor: pointer;
}

.header {
  padding: 1em;
  text-align: center;
  background-color: #8fb14e;
  position: relative;
  display: flex;
  justify-content: center;
}
.current-title {
  color: #ffd700;
}

.big-title {
  font-size: 2rem;
}

.middle-title {
  font-size: 1.5rem;
}

.small-title {
  font-size: 1.2rem;
}

h3,
h4 {
  padding: 0;
  margin: 0;
  margin-right: auto;
}
.back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: calc(50% - 15px);
  left: 1rem;
}
.back-button img {
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  background-color: #8fb14e;
}

.main {
  display: flex;
  flex-grow: 1;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label {
  opacity: 0.5;
  display: block;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
input[type="checkbox"] ~ label:hover,
input[type="radio"] ~ label:hover {
  opacity: 1;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  transition: 0.5s;
  opacity: 1;
  padding: 0.2rem;
  border: 3px solid #ffd700;
  border-radius: 50%;
}

.small-item-container li,
label[for="favorite"] {
  width: 50px;
  height: 50px;
}
.small-item-container label img,
label[for="favorite"] img {
  width: 100%;
  height: 100%;
}

.middle-item-container li {
  width: 75px;
  height: 75px;
  padding: 0.2rem;
}
.middle-item-container label img {
  width: 100%;
  height: 100%;
}
.big-item-container li {
  width: 100px;
  height: 100px;
  padding: 0.5rem;
}
.big-item-container label img {
  width: 100%;
  height: 100%;
}

.color_white {
  background-color: white;
}
.color_multy {
  background-color: white;
}
.color_yellow {
  background-color: yellow;
}

.color_red {
  background-color: red;
}

.color_blue {
  background-color: blue;
}

.color_green {
  background-color: green;
}
.default-button {
  min-width: 270px;
  height: 40px;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 2px solid #567d30;
}
