@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
html {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #355829;
  min-height: 100vh;
}

a {
  color: #355829;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    color: #ffd700;
  }
  &:active {
    color: #ceb31e;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

label,
button,
select,
input[type="checkbox"] {
  cursor: pointer;
}

.header {
  padding: 1em;
  text-align: center;
  background-color: #8fb14e;
  position: relative;
}

.big-title {
  font-size: 2rem;
}

.middle-title {
  font-size: 1.5rem;
}

.small-title {
  font-size: 1.2rem;
}

h3,
h4 {
  padding: 0;
  margin: 0;
  margin-right: auto;
}
.back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  top: calc(50% - 15px);
}
.back-button img {
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  background-color: #8fb14e;
}

.main {
  display: flex;
  flex-grow: 1;
}
