@import url("./common.scss");

.main {
  background-color: #ceb31e;
  justify-content: space-evenly;

  & > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    row-gap: 2rem;
    flex-grow: 0;
    position: relative;
    .toy-image {
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 999999;
    }
    .done-list {
      width: 100%;
      height: 100px;
      display: flex;
      overflow: auto;

      justify-content: space-evenly;
      li {
        flex-shrink: 0;
        cursor: pointer;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;
      justify-content: space-evenly;

      li {
        label {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        img {
          position: relative;
          z-index: 10;
          width: 100%;
          height: 100%;
        }
      }
    }
    .garland-options {
      position: relative;
      li {
        width: 25px;
        height: 25px;
        padding: 0.2rem;
        border-radius: 50%;
      }
      input[name="garland"]:checked + .animate-blink {
        border: none;
        animation: animate_blink 2s infinite;
        &.color_multy {
          animation: animate_blink_multy 2s infinite;
        }
      }

      .garland-enabler {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 5rem;
        top: 0.5rem;
      }
    }
    .toy-preview {
      position: relative;
      cursor: move;
      .count-toy {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: transparent;
        border: 3px solid #ffd700;
        border-radius: 50%;
        top: 0;
        font-weight: bold;
        text-align: left;
      }
      .toy-image {
        width: 100%;
        height: 100%;
      }
    }

    .settings ul {
      justify-content: left;
    }
  }
  .result-screen {
    min-width: 760px;
    max-width: 100%;
    flex-grow: 1;
    max-height: 100vh;
    min-height: 850px;
    height: auto;
    flex-shrink: 0;
    background-color: #567d30;
    position: relative;
    overflow: hidden;

    .tree-container {
      width: 450px;
      position: absolute;
      bottom: 2%;
      left: calc(50% - 225px);

      .map-tree {
        position: relative;
        z-index: 999999999999999;
      }

      .tree-image {
        width: 100%;
      }
      .toy-image {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 999999;
      }
      .garland-container {
        width: 100%;
        height: 100%;
        pointer-events: none;

        .garland-block {
          position: absolute;
          column-gap: 0;
          row-gap: 0;
          li {
            position: relative;
            z-index: 77777;
            width: 8px;
            height: 8px;
            border-radius: 50%;

            &:nth-child(odd) {
              animation: animate_blink 2s infinite;
            }
            &:nth-child(even) {
              animation: animate_blink 4s infinite;
            }
            &:nth-child(2) {
              top: 20px;
            }
            &:nth-child(3) {
              top: 40px;
            }
            &:nth-child(4) {
              top: 50px;
            }
            &:nth-child(5) {
              top: 60px;
            }
            &:nth-child(6) {
              top: 60px;
            }
            &:nth-child(7) {
              top: 50px;
            }
            &:nth-child(8) {
              top: 40px;
            }
            &:nth-child(9) {
              top: 30px;
            }
            &.color_multy {
              animation: none;
              &:nth-child(odd) {
                animation: animate_blink_multy 2s infinite;
              }
              &:nth-child(even) {
                animation: animate_blink_multy 4s infinite;
              }
            }
          }
        }
        #garland-block-first {
          bottom: 15%;
          width: 100%;
          left: 0;
        }
        #garland-block-second {
          bottom: 30%;
          width: 85%;
          left: 5%;
        }
        #garland-block-third {
          bottom: 45%;
          width: 70%;
          left: 15%;
        }
        #garland-block-fourth {
          bottom: 65%;
          width: 50%;
          left: 25%;
        }
        #garland-block-fifth {
          bottom: 80%;
          width: 25%;
          left: 40%;
        }
      }
    }
  }
}

@keyframes animate_blink {
  0% {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 10px 15px rgb(255, 215, 0, 0.2);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
    background-color: white;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 10px 15px rgb(255, 215, 0, 0.2);
  }
}

@keyframes animate_blink_multy {
  0% {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 10px 15px rgb(228, 25, 49, 0.2);
    background-color: white;
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: green;
    box-shadow: 0 0 10px 15px rgb(255, 0, 0, 0.2);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
    background-color: red;
    box-shadow: 0 0 10px 15px rgb(0, 128, 0, 0.2);
  }
  75% {
    transform: scale3d(1, 1, 1);
    background-color: blue;
    box-shadow: 0 0 10px 15px rgb(255, 215, 0, 0.2);
  }
  100% {
    transform: scale3d(0.9, 0.9, 0.9);
    background-color: yellow;
    box-shadow: 0 0 10px 15px rgb(0, 0, 255, 0.2);
  }
}
.snow-container {
  pointer-events: none;
  & > * {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;

    li {
      position: relative;
      opacity: 1;
      filter: blur(1px);
      width: 10%;
      height: 10%;
      z-index: 99999;
      opacity: 0;
      animation-name: snowflakes-fall, snowflakes-shake;
      animation-duration: 9s, 9s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      animation-play-state: running, running;

      &:nth-child(even) {
        margin-top: 40%;
      }
      &:nth-child(odd) {
        margin-top: 20%;
      }
    }
  }
  .snowfall2 {
    li {
      animation-delay: 3s;
    }
  }
  .snowfall3 {
    li {
      animation-delay: 6s;
    }
  }
}
.bg {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg1 {
  background-image: url("./assets/bg/1.jpg");
}
.bg2 {
  background-image: url("./assets/bg/2.jpg");
}
.bg3 {
  background-image: url("./assets/bg/3.jpg");
}
.bg4 {
  background-image: url("./assets/bg/4.jpg");
}
.bg5 {
  background-image: url("./assets/bg/5.jpg");
}
.bg6 {
  background-image: url("./assets/bg/6.jpg");
}
.bg7 {
  background-image: url("./assets/bg/7.jpg");
}
.bg8 {
  background-image: url("./assets/bg/10.jpg");
}

@keyframes snowflakes-fall {
  0% {
    opacity: 1;
    top: -50%;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(120px) rotate(0.5turn);
  }
  100% {
    transform: translateX(-120px) rotate(-0.5turn) scale3d(2, 2, 2);
  }
}

@media (max-width: 1280px) {
  .main {
    background-color: #ceb31e;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & > div {
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {
}
