@import url("./common.scss");

.start-window {
  background-image: url("./assets/3080543.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 30%;

  .main {
    background-color: rgba(53, 88, 41, 0.1);
  }
  .header,
  .footer {
    background-color: rgba(142, 177, 78, 0.9);
  }
}
.start-game {
  padding: 1.5rem;
  font-size: 3rem;
  margin: auto;
  border: none;
  font-weight: bold;
  background-color: transparent;

  a {
    color: #ceb31e;
    &:hover {
      color: gold;
    }
  }
}
.header nav {
  text-align: left;
}
