@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
html {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

.body {
  background-color: #8fb14e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #355829;
}

a {
  color: #355829;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

label,
button,
select,
input[type="checkbox"] {
  cursor: pointer;
}

.header {
  padding: 1em;
  text-align: center;
}

.big-title {
  font-size: 2rem;
}

.middle-title {
  font-size: 1.5rem;
}

.small-title {
  font-size: 1.2rem;
}

h3,
h4 {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
}

.main {
  background-color: #567d30;
  display: flex;
}

.settings {
  width: 350px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #ceb31e;
  row-gap: 2em;
  flex-shrink: 0;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inner-section {
  padding: 1em;
  row-gap: 1em;
}

.shape-list,
.color-list,
.size-list {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;

  input[type="checkbox"] {
    display: none;
  }
}

.shape-label,
.color-label,
.size-label {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;

  img {
    width: 100%;
    height: 100%;
  }
}

.size-label_middle {
  img {
    width: 80%;
  }
}

.size-label_small {
  img {
    width: 50%;
  }
}

.color-label_white {
  background-color: white;
}

.color-label_yellow {
  background-color: yellow;
}

.color-label_red {
  background-color: red;
}

.color-label_blue {
  background-color: blue;
}

.color-label_green {
  background-color: green;
}

.favorite-toy-input {
  align-self: flex-start;
}

input[type="checkbox"]:checked ~ label {
  opacity: 0.9;
}

label:hover {
  opacity: 1;
}

.open-selected,
.reset-storage,
.reset-filter,
.search-input,
.sort-select {
  padding: 0.5em;
  border-radius: 0.2em;
  border: 2px solid #567d30;
}

.toys-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 1rem;
  row-gap: 1rem;
  align-self: flex-start;
}

.toy-item {
  width: 280px;
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  background-color: #355829;
  color: white;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .toy-image {
      width: 250px;
      opacity: 0.8;
      top: -5%;
      left: 20%;
      transition: 1s;
    }
  }

  .toy-image {
    position: absolute;
    width: 200px;
    opacity: 0.3;
    top: -10%;
    left: 55%;
    transition: 1s;
  }

  .star-image {
    position: absolute;
    width: 20px;
    opacity: 0.7;
    bottom: 1rem;
    right: 1rem;
  }
}

.golden-star-image {
  background-image: url(./assets/svg/star-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.selection-warning,
.search-warning {
  color: rgb(170, 34, 34);
}

.search-section {
  position: relative;
}
.remove-selection,
.selection-inner__close,
.clear-search {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 3.4rem;
  opacity: 0.5;

  img {
    width: 100%;
  }
}
.remove-selection:hover,
.selection-inner__close:hover,
.clear-search:hover {
  opacity: 1;
}

[data-visible="false"] {
  display: none;
}

div.noUi-horizontal {
  height: 10px;
  font-size: 0.9rem;
}

.noUi-base {
  background-color: #8fb14e;
}

.noUi-horizontal div.noUi-handle {
  height: 20px;
  width: 30px;
}

div.noUi-handle::before,
div.noUi-handle::after {
  display: none;
}

div.noUi-connect {
  background-color: #567d30;
}

div.noUi-touch-area {
  cursor: grab;
}

.noUi-horizontal div.noUi-tooltip {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
  bottom: -200%;
}

.selection-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 2;

  .small-title {
    font-size: 1.1rem;
  }
}

.selection-container.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.selection-inner {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #ceb31e;
  padding: 2rem;
  transition: 0.5s all;
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;

  .toy-item {
    width: 250px;
    height: 100px;
    overflow: hidden;
    justify-content: space-between;

    .toy-image {
      width: 100px;
      height: 100px;
    }
  }
}
.selection-inner.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.selection-inner__close {
  width: 30px;
  height: 30px;
  top: 2rem;
  right: 2rem;
}
.remove-selection {
  top: unset;
  right: 0.5rem;
  bottom: 0.5rem;
}
