@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
html {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

.body {
  background-color: #8fb14e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #355829;
}

a {
  color: #355829;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

label,
button,
select,
input[type="checkbox"] {
  cursor: pointer;
}

.header {
  padding: 1em;
  text-align: center;
}

.big-title {
  font-size: 2rem;
}

.middle-title {
  font-size: 1.5rem;
}

.small-title {
  font-size: 1.2rem;
}

h3,
h4 {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
}
.main {
  background-color: #567d30;
  display: flex;
}
.filter {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #ceb31e;
  row-gap: 2em;
}
section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.inner-section {
  padding: 1em;
}
.shape-list,
.color-list,
.size-list {
  display: flex;
  column-gap: 0.5em;
  justify-content: center;

  input[type="checkbox"] {
    display: none;
  }
}

.shape-label,
.color-label,
.size-label {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;

  img {
    width: 100%;
    height: 100%;
  }
}
.size-label_middle {
  img {
    width: 80%;
  }
}
.size-label_small {
  img {
    width: 50%;
  }
}
.color-label_white {
  background-color: white;
}
.color-label_yellow {
  background-color: yellow;
}
.color-label_red {
  background-color: red;
}
.color-label_blue {
  background-color: blue;
}
.color-label_green {
  background-color: green;
}

.favorite-toy-input {
  align-self: flex-start;
}

input[type="checkbox"]:checked ~ label {
  opacity: 0.9;
}
label:hover {
  opacity: 1;
}

.reset-filter,
.search-input,
.sort-select {
  padding: 0.5em;
  border-radius: 0.2em;
  border: 2px solid #567d30;
}
.toys-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 1rem;
  row-gap: 1rem;
}
.toy-item {
  width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  background-color: #355829;
  color: white;
  cursor: pointer;

  .toy-image {
    position: absolute;
    width: 150px;
    opacity: 0.3;
    left: 50%;
  }
  .star-image {
    position: absolute;
    width: 20px;
    opacity: 0.7;
    bottom: 1rem;
    right: 1rem;
  }
}
.golden-star-image {
  background-image: url(./assets/svg/star-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.selection-warning {
  color: rgb(170, 34, 34);
}
