@import url("./common.scss");
.main {
  background-color: #567d30;
}
//фильтры
.settings {
  width: 350px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #ceb31e;
  row-gap: 2em;
  flex-shrink: 0;

  section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .inner-section {
      padding: 1em;
      row-gap: 1em;

      ul {
        display: flex;
        column-gap: 0.5em;
        justify-content: center;

        label {
          display: block;
          width: 40px;
          height: 40px;
          opacity: 0.5;
          transition: 0.3s;

          img {
            width: 100%;
            height: 100%;
          }
        }

        label:hover {
          opacity: 1;
        }

        .size-label_middle {
          img {
            width: 80%;
          }
        }

        .size-label_small {
          img {
            width: 50%;
          }
        }

        .color-label_white {
          background-color: white;
        }

        .color-label_yellow {
          background-color: yellow;
        }

        .color-label_red {
          background-color: red;
        }

        .color-label_blue {
          background-color: blue;
        }

        .color-label_green {
          background-color: green;
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"]:checked ~ label {
          opacity: 0.9;
        }
      }
    }
  }

  .search-section {
    position: relative;
  }
}

//кнопки в одном стиле
.clear-selected,
.open-selected,
.reset-storage,
.reset-filter,
.search-input,
.sort-select {
  padding: 0.5em;
  border-radius: 0.2em;
  border: 2px solid #567d30;
}
//ворнинги в одном стиле
.selection-warning,
.search-warning {
  color: white;
  font-size: 1.5em;
  transition: 0.5s;
}
//кнопки-крестики
.remove-selection,
.selection__close,
.clear-search {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 3.4rem;
  opacity: 0.5;

  img {
    width: 100%;
  }
}
.remove-selection:hover,
.selection__close:hover,
.clear-search:hover {
  opacity: 1;
}
//контейнер с игрушками
.toys-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 1rem;
  row-gap: 1rem;
  align-self: flex-start;
  .toy-item {
    width: 280px;
    height: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
    background-color: #355829;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;

    &:hover {
      .toy-image {
        width: 250px;
        opacity: 0.8;
        top: -5%;
        left: 20%;
        transition: 1s;
      }
    }

    .toy-image {
      position: absolute;
      width: 200px;
      opacity: 0.3;
      top: -10%;
      left: 55%;
      transition: 1s;
    }

    .star-image {
      position: absolute;
      width: 20px;
      opacity: 0.7;
      bottom: 1rem;
      right: 1rem;
      transition: 0.5s;
    }
    .golden-star-image {
      background-image: url("./assets/svg/star-full.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

//слайдер
div.noUi-horizontal {
  height: 10px;
  font-size: 0.9rem;
}

.noUi-base {
  background-color: #8fb14e;
}

.noUi-horizontal div.noUi-handle {
  height: 20px;
  width: 30px;
}

div.noUi-handle::before,
div.noUi-handle::after {
  display: none;
}

div.noUi-connect {
  background-color: #567d30;
}

div.noUi-touch-area {
  cursor: grab;
}

.noUi-horizontal div.noUi-tooltip {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
  bottom: -200%;
}
//избранное
.selection-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 2;

  .small-title {
    font-size: 1.1rem;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
  }
  .selection__close {
    width: 30px;
    height: 30px;
    top: 2rem;
    right: 2rem;
  }
  .selection-inner {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #ceb31e;
    padding: 2rem;
    transition: 0.5s all;
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;

    &.active {
      transform: translate(-50%, -50%) scale(1);
      transition: 0.5s all;
    }

    .toy-item {
      width: 250px;
      height: 100px;
      overflow: hidden;
      justify-content: space-between;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      position: relative;
      background-color: #355829;
      color: white;
      overflow: hidden;
      transition: 0.5s;

      .toy-image {
        position: absolute;
        width: 200px;
        height: 200px;
        top: -30%;
        left: 20%;
        opacity: 0.4;
      }
      .remove-selection {
        top: unset;
        right: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }
}
