@import url("./common.scss");
//елка

.main {
  background-color: #ceb31e;
  justify-content: space-evenly;

  & > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    row-gap: 2rem;
    flex-grow: 0;
    .toy-image {
      width: 30px;
      height: 30px;
    }

    section {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;
      justify-content: space-evenly;

      li {
        cursor: pointer;

        label {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        img {
          position: relative;
          z-index: 10;
          width: 100%;
          height: 100%;
        }
      }
    }
    .garland-options {
      position: relative;
      li {
        width: 25px;
        height: 25px;
        padding: 0.2rem;
        border-radius: 50%;
      }
      input[name="garland"]:checked + .animate-blink {
        border: none;
        animation: animate_blink 2s infinite;
        &.color_multy {
          animation: animate_blink_multy 2s infinite;
        }
      }

      .garland-enabler {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 5rem;
        top: 0.5rem;
      }
    }
    .toy-preview {
      position: relative;
      cursor: move;
      .count-toy {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: transparent;
        border: 3px solid #ffd700;
        border-radius: 50%;
        top: 0;
        font-weight: bold;
        text-align: left;
      }
      .toy-image {
        width: 100%;
        height: 100%;
      }
    }

    .settings ul {
      justify-content: left;
    }
  }
  .result-screen {
    min-width: 40%;
    max-width: 50%;
    flex-grow: 1;
    max-height: 100vh;
    height: auto;
    flex-shrink: 0;
    background-color: #567d30;
    position: relative;
    overflow: hidden;

    &.bg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.bg1 {
      background-image: url("./assets/bg/1.jpg");
    }
    &.bg2 {
      background-image: url("./assets/bg/2.jpg");
    }
    &.bg3 {
      background-image: url("./assets/bg/3.jpg");
    }
    &.bg4 {
      background-image: url("./assets/bg/4.jpg");
    }
    &.bg5 {
      background-image: url("./assets/bg/5.jpg");
    }
    &.bg6 {
      background-image: url("./assets/bg/6.jpg");
    }
    &.bg7 {
      background-image: url("./assets/bg/7.jpg");
    }
    &.bg10 {
      background-image: url("./assets/bg/10.jpg");
    }
    .tree-img {
      width: 40%;
      height: 60%;
      position: absolute;
      bottom: 5%;
      left: calc(50% - 20%);
    }
  }
}
.garland-container {
  width: 40%;
  height: 60%;
  position: absolute;
  bottom: 5%;
  left: 30%;
}
#garland-block-first,
#garland-block-second,
#garland-block-third,
#garland-block-fourth,
#garland-block-fifth {
  position: absolute;
  z-index: 77777;
  flex-wrap: nowrap;
  column-gap: 0;
  row-gap: 0;
  li {
    width: 7px;
    height: 7px;
    border-radius: 50%;

    &:nth-child(odd) {
      animation: animate_blink 2s infinite;
    }
    &:nth-child(even) {
      animation: animate_blink 4s infinite;
    }
    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 40px;
    }
    &:nth-child(4) {
      margin-top: 50px;
    }
    &:nth-child(5) {
      margin-top: 60px;
    }
    &:nth-child(6) {
      margin-top: 60px;
    }
    &:nth-child(7) {
      margin-top: 50px;
    }
    &:nth-child(8) {
      margin-top: 40px;
    }
    &:nth-child(9) {
      margin-top: 30px;
    }
    &.color_multy {
      animation: none;
      &:nth-child(odd) {
        animation: animate_blink_multy 2s infinite;
      }
      &:nth-child(even) {
        animation: animate_blink_multy 4s infinite;
      }
    }
  }
}
#garland-block-first {
  bottom: 10%;
  width: 100%;
  left: 0;
}
#garland-block-second {
  bottom: 25%;
  width: 85%;
  left: 5%;
}
#garland-block-third {
  bottom: 40%;
  width: 70%;
  left: 15%;
}
#garland-block-fourth {
  bottom: 55%;
  width: 50%;
  left: 25%;
}
#garland-block-fifth {
  bottom: 70%;
  width: 25%;
  left: 40%;
}

@keyframes animate_blink {
  0% {
    transform: scale3d(0.9, 0.9, 0.9);
    box-shadow: 0 0 5px 10px rgb(255, 215, 0, 0.2);
  }
  50% {
    transform: scale3d(1, 1, 1);
    background-color: white;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: scale3d(0.9, 0.9, 0.9);
    box-shadow: 0 0 5px 10px rgb(255, 215, 0, 0.2);
  }
}

@keyframes animate_blink_multy {
  0% {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 0 5px 10px rgb(228, 25, 49, 0.2);
    background-color: white;
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: green;
    box-shadow: 0 0 5px 10px rgb(255, 0, 0, 0.2);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
    background-color: red;
    box-shadow: 0 0 5px 10px rgb(0, 128, 0, 0.2);
  }
  75% {
    transform: scale3d(1, 1, 1);
    background-color: blue;
    box-shadow: 0 0 5px 10px rgb(255, 215, 0, 0.2);
  }
  100% {
    transform: scale3d(0.9, 0.9, 0.9);
    background-color: yellow;
    box-shadow: 0 0 5px 10px rgb(0, 0, 255, 0.2);
  }
}

.snowfall {
  position: absolute;
  width: 100%;
  height: 60%;

  li {
    position: relative;
    opacity: 1;
    filter: blur(1px);
    width: 10%;
    height: 10%;
    z-index: 99999;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 10s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;

    &:nth-child(even) {
      margin-top: 50%;
    }
    &:nth-child(odd) {
      margin-top: 20%;
    }
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -20%;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(120px) rotate(0.5turn);
  }
  100% {
    transform: translateX(-120px) rotate(-0.5turn) scale3d(2, 2, 2);
  }
}

@media (max-width: 1280px) {
  .main {
    .result-screen {
      max-height: 500px;
    }
  }
  #garland-block-first,
  #garland-block-second,
  #garland-block-third,
  #garland-block-fourth,
  #garland-block-fifth {
    li {
      width: 5px;
      height: 5px;
    }
  }
  #garland-block-first {
    width: 100%;
    left: 5%;
  }
  #garland-block-second {
    width: 75%;
    left: 15%;
  }
  #garland-block-third {
    width: 60%;
    left: 20%;
  }
  #garland-block-fourth {
    width: 40%;
    left: 30%;
  }
  #garland-block-fifth {
    width: 25%;
    left: 40%;
  }
}

@media (max-width: 800px) {
  .main {
    .result-screen {
      max-height: 350px;
    }
  }
}
