@import url("./common.scss");
//елка

.main {
  background-color: #ceb31e;
  & > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    section {
      margin: 1rem;

      .middle-title {
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;

        li {
          background-color: rgba(255, 255, 255, 0.3);
          cursor: pointer;

          label {
            display: block;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            opacity: 0.5;
          }

          input[type="radio"] {
            display: none;
          }
          input[type="radio"]:checked ~ label {
            opacity: 1;
            width: 150%;
            height: 150%;
            padding: 5%;
          }

          img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
          }
        }
      }
    }

    .tree-options {
      li {
        width: 100px;
        height: 100px;
        padding: 0.5rem;
      }
    }

    .bg-options {
      li {
        width: 50px;
        height: 50px;
        padding: 0.2rem;
      }
    }
    .garland-options {
      li {
        width: 25px;
        height: 25px;
        padding: 0.2rem;
        [for="garland-white"] {
          background-color: white;
        }
        [for="garland-yellow"] {
          background-color: yellow;
        }
        [for="garland-red"] {
          background-color: red;
        }
        [for="garland-blue"] {
          background-color: blue;
        }
        [for="garland-green"] {
          background-color: green;
        }
      }
    }

    .settings {
      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 1rem;
        opacity: 0.5;
        transition: 0.5s;

        img {
          width: 100%;
          height: 100%;
        }
      }
      input[type="checkbox"] {
        display: none;
      }

      #snow:checked ~ label[for="snow"] {
        opacity: 1;
      }
      #music:checked ~ label[for="music"] {
        opacity: 1;
      }
    }
  }
  .result-screen {
    width: 50%;
    flex-shrink: 0;
    background-color: #567d30;
  }
}
