@import url("./common.scss");
//елка

.main {
  background-color: #ceb31e;
  justify-content: space-evenly;
  & > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    row-gap: 2rem;
    section {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;
        justify-content: space-evenly;

        li {
          cursor: pointer;

          label {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }

          img {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .garland-options {
      position: relative;
      li {
        width: 25px;
        height: 25px;
        padding: 0.2rem;
        border-radius: 50%;
      }
      input[name="garland"]:checked + .animate-blink {
        animation: animate_blink 3s infinite;
        border: none;
      }

      .animate-blink:hover {
        animation: none;
      }
      @keyframes animate_blink {
        0% {
          transform: scale3d(1, 1, 1);
          box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
        }
        50% {
          transform: scale3d(1.1, 1.1, 1.1);
          background-color: white;
          box-shadow: 0 0 2px 5px rgb(228, 25, 49, 0.2);
        }
        100% {
          transform: scale3d(0.9, 0.9, 0.9);
          box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
        }
      }
      .garland-enabler {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 5rem;
        top: 0.5rem;
      }
    }
    .toy-preview {
      position: relative;
      .count-toy {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: transparent;
        border: 3px solid #ffd700;
        border-radius: 50%;
        top: 0;
        font-weight: bold;
        text-align: left;
      }
    }

    .settings ul {
      justify-content: left;
    }
  }
  .result-screen {
    width: 50%;
    flex-shrink: 0;
    background-color: #567d30;

    &.bg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.bg1 {
      background-image: url("./assets/bg/1.jpg");
    }
    &.bg2 {
      background-image: url("./assets/bg/2.jpg");
    }
    &.bg3 {
      background-image: url("./assets/bg/3.jpg");
    }
    &.bg4 {
      background-image: url("./assets/bg/4.jpg");
    }
    &.bg5 {
      background-image: url("./assets/bg/5.jpg");
    }
    &.bg6 {
      background-image: url("./assets/bg/6.jpg");
    }
    &.bg7 {
      background-image: url("./assets/bg/7.jpg");
    }
    &.bg10 {
      background-image: url("./assets/bg/10.jpg");
    }
    .tree-img {
      width: 400px;
      height: 600px;
      margin: auto auto 2% auto;
    }
  }
}

#garland-block {
  position: relative;
  z-index: 77777;
  li {
    width: 10px;
    height: 10px;
    background-color: red;
    animation: animate_blink 3s infinite;

    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-child(3) {
      margin-top: 40px;
    }
    &:nth-child(4) {
      margin-top: 60px;
    }
    &:nth-child(5) {
      margin-top: 80px;
    }
    &:nth-child(6) {
      margin-top: 100px;
    }
    &:nth-child(7) {
      margin-top: 120px;
    }
    &:nth-child(8) {
      margin-top: 140px;
    }
    &:nth-child(9) {
      margin-top: 160px;
    }
    &:nth-child(10) {
      margin-top: 180px;
    }
    &:nth-child(11) {
      margin-top: 200px;
    }
  }
  .animate-blink:hover {
    animation: none;
  }
  @keyframes animate_blink {
    0% {
      transform: scale3d(1, 1, 1);
      box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
    50% {
      transform: scale3d(1.1, 1.1, 1.1);
      background-color: white;
      box-shadow: 0 0 2px 5px rgb(228, 25, 49, 0.2);
    }
    100% {
      transform: scale3d(0.9, 0.9, 0.9);
      box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
  }
}
