.page_main {
  background-image: url('../../assets/4543889.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-main__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    border-radius: 1rem;

    .start-game {
      padding: 1.5rem;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'Oswald', cursive;
      color: #f5af1c;
    }

    p {
      text-align: center;
    }
  }
}
